version: "3"

services:
  web:
    restart: always
    image: nginx
    container_name: nginx-web
    ports:
      - 80:80
      - 443:443
    volumes:
      - nginx-confd:/etc/nginx/conf.d:ro
      - nginx-vhostd:/etc/nginx/vhost.d:ro
      - certs:/etc/nginx/certs:ro
      - nginx-html:/usr/share/nginx/html
    networks:
      - nginx-proxy
    logging:
      options:
        max-size: ${NGINX_WEB_LOG_MAX_SIZE:-4m}
        max-file: ${NGINX_WEB_LOG_MAX_FILE:-10}

  gen:
    restart: always
    image: jwilder/docker-gen
    container_name: nginx-gen
    depends_on:
      - web
    volumes:
      - nginx-confd:/etc/nginx/conf.d:rw
      - nginx-vhostd:/etc/nginx/vhost.d:ro
      - certs:/etc/nginx/certs:ro
      - nginx-html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
    command: -notify-sighup nginx -watch /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    networks:
      - nginx-proxy
    logging:
      options:
        max-size: ${NGINX_GEN_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_GEN_LOG_MAX_FILE:-10}

  letsencrypt:
    restart: always
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: nginx-letsencrypt
    depends_on:
      - web
      - gen
    volumes:
      - nginx-confd:/etc/nginx/conf.d:ro
      - nginx-vhostd:/etc/nginx/vhost.d:rw
      - certs:/etc/nginx/certs:rw
      - nginx-html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - NGINX_DOCKER_GEN_CONTAINER=gen
    networks:
      - nginx-proxy
    logging:
      options:
        max-size: ${NGINX_LETSENCRYPT_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_LETSENCRYPT_LOG_MAX_FILE:-10}

volumes:
  nginx-confd:
    driver: local-persist
    driver_opts:
      mountpoint: /etc/nginx/conf.d
  nginx-vhostd:
    driver: local-persist
    driver_opts:
      mountpoint: /etc/nginx/vhost.d
  certs:
    driver: local-persist
    driver_opts:
      mountpoint: /etc/nginx/certs
  nginx-html:
    driver: local-persist
    driver_opts:
      mountpoint: /usr/share/nginx/html

networks:
  default:
    external:
      name: nginx-proxy
